<div>
  <a routerLink="/users" class="m-4">&#8592; Back to list</a>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col items-center text-center">
      <img
        [src]="response.users[0].image"
        alt="{{ response.users[0].username }}"
        class="w-40 h-40 rounded"
      />
      <div>
        <h2 class="p-4">
          {{ response.users[0].firstName }} {{ response.users[0].lastName }}
        </h2>
        <p>Username: {{ response.users[0].username }}</p>
        <p>#{{ response.users[0].id }}</p>
      </div>
    </div>
    <div class="mt-10">
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>First Name</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].firstName" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>Last Name</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].lastName" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>address</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].address" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>email</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].email" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>phone</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].phone" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>birthdate</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].birthDate" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>gender</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].gender" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>bank</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].bank" />
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="text-center">
          <h5>domain</h5>
        </div>
        <div class="border border-black text-center w-3/4">
          <input type="text" [value]="response.users[0].domain" />
        </div>
      </div>
    </div>
  </div>
</div>
