<div class="m-4">
  <h1 class="text-2xl mb-8">Users</h1>
  <div>
    <button
      type="button"
      routerLink="/newUser"
      class="mb-4 px-8 py-2 bg-yellow-600 rounded-full"
    >
      New User
    </button>
  </div>

  <div *ngIf="users">
    <table>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Picture</th>
          <th scope="col">Lastname</th>
          <th scope="col">Firstname</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let number = index">
          <td>#{{ number + 1 }}</td>
          <td>
            <img
              [src]="user.image"
              alt="user.username"
              class="rounded-full h-[50px] w-[50px]"
            />
          </td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.birthDate }}</td>
          <td>
            <Button
              [routerLink]="['/userdetail', user.id]"
              type="button"
              class="px-3 bg-yellow-600 rounded-full"
              >Details</Button
            >
          </td>
          <td>
            <Button
              type="button"
              (click)="deleteUser(user.id)"
              class="px-3 bg-red-500 rounded-full"
              >Delete</Button
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
